/Dockerfile linguist-generated
/Makefile linguist-generated
/QR.rb linguist-generated linguist-language=prose
/README.md linguist-generated
/SHA256SUMS linguist-generated
/langs.png linguist-generated
/thumbnail.png linguist-generated
/vendor linguist-vendored
